<div id="GameOverModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p>XXX WON!</p>
    <p>Continue?</p>
    <%= link_to 'YES', '#', class: 'btn btn-primary btn-sm btn-modal' %>
    <%= link_to 'NO', '#', id: 'close', class: 'btn btn-primary btn-sm btn-modal' %>
  </div>

</div>
