// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.board {
  tr {
    td {
      background-color: red;
      width: 100px;
      height: 100px;
      border: 2px solid black;
      padding: 0;

      div {
        width: inherit;
        height: inherit;
        margin: 0;
      }
    }
  }
}
